<h2>List of ToDo's</h2>

<div class="row">
  <div class="col-12" *ngFor="let todo of todos">
    <input class="form-check-input" type="checkbox" [(checked)]="todo.checked" (change)="todo.checked = !todo.checked;updateTodo(todo)">
    <a [routerLink]="['/todo/', todo.id]">{{ todo.description }}</a>
    <button type="button" class="btn btn-danger float-right" (click)="deleteTodo(todo)">Delete</button>
  </div>
</div>

<form [formGroup]="addTodoForm">
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" formControlName="description" required>
  </div>

  <button type="submit" class="btn btn-success" (click)="addTodo()">Submit</button>
</form>